# Google Sheets Configuration
# You must create a Service Account in Google Cloud Console, 
# enable Google Sheets API, and share your spreadsheet with the service account email.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=1mQheHBr5e1Mul-L_I2X6HwkyDamUo6i6psqj9MCsDrQ
